@media  (max-width:1499px) and (min-width:1200px){
.join{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:35px;
	font-weight: bold;
}
.join1{
    position: absolute;top:4200px;left:150px;
}
.join2{
    position:absolute;left:200px;top:4220px;width:444px;height:128px;
}
.join3{
    position: absolute;left:590px;top:4305px;
}
.join4{
    position: absolute;left:735px;top:4404px;
}
.join5{
    position: absolute;left:919px;top:4200px;
}
.join6{
    position: absolute;left:800px;top:4307px;
}
.button{
    position: absolute;left: 200px;top:4380px;
	background-color:white;
	border-radius:9px;
	border:1px solid #8C30F5;
	display:inline-block;
	cursor:pointer;
	color:#8C30F5;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px;
}
.button:hover {
	background-color:white;
	border: 2px solid  white;
    background-color: #8C30F5;
    color: rgb(255, 255, 255);
}
.button:active {
	position:relative;
	top:1px;
}
.vector{
    position: absolute;left:863.25px;top:4350px;width: 154.01px;height: 55.5px;
    transform: rotate(10deg);
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	color: white;
	font-weight: lighter;
}
}

@media (min-width:1920px){
	.join{
		font-family: 'Source Sans Pro', sans-serif;
		font-size:35px;
		font-weight: bold;
	}
	.join1{
		position: absolute;top:4530px;left:410px;
	}
	.join2{
		position:absolute;left:460px;top:4540px;width:444px;height:128px;
	}
	.join3{
		position: absolute;left:890px;top:4605px;
	}
	.join4{
		position: absolute;left:1035px;top:4704px;
	}
	.join5{
		position: absolute;left:1210px;top:4530px;
	}
	.join6{
		position: absolute;left:1070px;top:4640px;
	}
	.button{
		position: absolute;left: 480px;top:4700px;
		background-color:white;
		border-radius:9px;
		border:1px solid #8C30F5;
		display:inline-block;
		cursor:pointer;
		color:#8C30F5;
		font-family:Arial;
		font-size:17px;
		padding:16px 31px;
		text-decoration:none;
		text-shadow:0px 1px 0px;
	}
	.button:hover {
		background-color:white;
	}
	.button:active {
		position:relative;
		top:1px;
	}
	.vector{
		position: absolute;left:1153.25px;top:4700px;width: 154.01px;height: 55.5px;
		transform: rotate(10deg);
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 25px;
		color: white;
		font-weight: lighter;
	}
}


@media (min-width: 1500px) and (max-width: 1799px){
	.join{
		font-family: 'Source Sans Pro', sans-serif;
		font-size:35px;
		font-weight: bold;
	}
	.join1{
		position: absolute;top:4300px;left:220px;
	}
	.join2{
		position:absolute;left:280px;top:4320px;width:444px;height:128px;
	}
	.join3{
		position: absolute;left:690px;top:4405px;
	}
	.join4{
		position: absolute;left:835px;top:4504px;
	}
	.join5{
		position: absolute;left:1019px;top:4300px;
	}
	.join6{
		position: absolute;left:900px;top:4407px;
	}
	.button{
		position: absolute;left: 280px;top:4480px;
		background-color:white;
		border-radius:9px;
		border:1px solid #8C30F5;
		display:inline-block;
		cursor:pointer;
		color:#8C30F5;
		font-family:Arial;
		font-size:17px;
		padding:16px 31px;
		text-decoration:none;
		text-shadow:0px 1px 0px;
	}
	.button:hover {
		background-color:white;
	}
	.button:active {
		position:relative;
		top:1px;
	}
	.vector{
		position: absolute;
		left: 963.25px;
		top: 4440px;
		width: 104.01px;
		height: 55.5px;
		transform: rotate(
	10deg
	);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 30px;
		color: white;
		font-weight: lighter;
		width: 10%;
		text-align: center;
	}
}

@media (min-width:300px) and (max-width:800px){
	.join{
		font-family: 'Source Sans Pro', sans-serif;
		font-size:35px;
		font-weight: bold;
	}
	.join1{
		position: absolute;top:1600px;left:35px;
		width: 290px;height: 100px;
	}
	.join2{
		position:absolute;left:60px;top:1615px;width:120px;height:50px;
		font-size: 8px;
	}
	.join3{
		position: absolute;left:125px;top:1625px;
		width: 100px;height: 55px;
	}
	.join4{
		position: absolute;left:150px;top:1659px;
		width: 100px;height: 10px;
	}
	.join5{
		position: absolute;left:229px;top:1600px;
		width: 100px;height: 100px;
	}
	.join6{
		position: absolute;left:190px;top:1630px;
		width: 100px;height: 70px;
	}
	.button{
		position: absolute;left: 55px;top:1655px;
		background-color:white;
		border-radius:5px;
		border:1px solid #8C30F5;
		display:inline-block;
		cursor:pointer;
		color:#8C30F5;
		font-family:Arial;
		font-size: 8px;
		padding:8px 5px;
		text-decoration:none;
		text-shadow:0px 1px 0px;
	}
	.button:hover {
		background-color:white;
		border: 2px solid  white;
		background-color: #8C30F5;
		color: rgb(255, 255, 255);
	}
	.button:active {
		position:relative;
		top:1px;
	}
	.vector{
		position: absolute;left:220.25px;top:1649px;width: 154.01px;height: 55.5px;
		transform: rotate(10deg);
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 9px;
		width:50px;
		color: white;
		font-weight: lighter;
	}
}
@media (min-width:360px) and (max-width:900px){
	.join{
		font-family: 'Source Sans Pro', sans-serif;
		font-size:35px;
		font-weight: bold;
	}
	.join1{
		position: absolute;top:1650px;left:35px;
		width: 290px;height: 100px;
	}
	.join2{
		position:absolute;left:60px;top:1665px;width:120px;height:50px;
		font-size: 8px;
	}
	.join3{
		position: absolute;left:125px;top:1685px;
		width: 100px;height: 55px;
	}
	.join4{
		position: absolute;left:150px;top:1719px;
		width: 100px;height: 10px;
	}
	.join5{
		position: absolute;left:229px;top:1650px;
		width: 100px;height: 100px;
	}
	.join6{
		position: absolute;left:190px;top:1680px;
		width: 100px;height: 70px;
	}
	.button{
		position: absolute;left: 55px;top:1705px;
		background-color:white;
		border-radius:5px;
		border:1px solid #8C30F5;
		display:inline-block;
		cursor:pointer;
		color:#8C30F5;
		font-family:Arial;
		font-size: 8px;
		padding:8px 5px;
		text-decoration:none;
		text-shadow:0px 1px 0px;
	}
	.button:hover {
		background-color:white;
		border: 2px solid  white;
		background-color: #8C30F5;
		color: rgb(255, 255, 255);
	}
	.button:active {
		position:relative;
		top:1px;
	}
	.vector{
		position: absolute;left:220.25px;top:1689px;width: 154.01px;height: 55.5px;
		transform: rotate(10deg);
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 9px;
		width:50px;
		color: white;
		font-weight: lighter;
	}
}